<h1>Inscribir Educador</h1>

<FORM ACTION="/educador" METHOD="POST">
<label for="code">Codigo del Educador:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code"><br/>
 
<label for="nombre">Nombres del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre"><br/>

<label for="apellidos">Apellidos del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="apellidos"><br/>

<INPUT TYPE="submit" value="Inscribir Educador">
</FORM> 
