<h1>Ingreso del Nino a Asociacion Compartir</h1>



<FORM ACTION="/nino" METHOD="POST">
<label for="code">Codigo del Ni単o:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code"><br/>
 
<label for="nombre">Nombres del Ni単o:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre"><br/>
 
<label for="apellido">Apellidos del Ni単o:</label><br/>
<INPUT id = "apellido" TYPE="text" NAME="apellido"><br/>
 
<label for="padrinazgo">Estado Padrinazgo:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="padrinazgo"><br/> 

<label for="fecha">Fecha Nacimiento:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="fecha"><br/>

<label for="sexo">Sexo:</label>
<SELECT NAME="sexo"> 
   <OPTION VALUE="M">M</OPTION> 
   <OPTION VALUE="F">F</OPTION> 
</SELECT> 
<br/>

<label for="habita">Personas con las que Habita:</label><br/>
<textarea name="habita" rows="5" cols="25"></textarea><br/>

<label for="centro">Nombre del Centro:</label><br/>
<INPUT id = "centro" TYPE="text" NAME="centro"><br/>

<label for="sector">Sector:</label><br/>
<INPUT id = "sector" TYPE="text" NAME="sector"><br/>

<label for="codigo">Codigo del Educador Asignado:</label><br/>
<INPUT id = "codigo" TYPE="text" NAME="codigo"><br/>


<INPUT TYPE="submit" value="Inscribir Ni単o">
</FORM> 

