<h1>Inscribir Padrino</h1>


<FORM ACTION="/padrino" METHOD="POST">
<label for="code">Codigo del Padrino:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code"><br/>
 
<label for="nombre">Nombres del Padrino:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre"><br/>

<label for="nac">Nacionalidad del Padrino:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nac"><br/>

<INPUT TYPE="submit" value="Inscribir Padrino">
</FORM> 
