<h1>Crear un Programa</h1>

<FORM ACTION="/programa" METHOD="POST">
<label for="code">Tipo del Programa:</label><br/>
<INPUT id = "code" TYPE="text" NAME="tipo"><br/>
 
<label for="nombre">Componente del Programa:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="componente"><br/>
 


<INPUT TYPE="submit" value="Crear Programa">
</FORM> 

