<h1>Inscribir Centro</h1>


<FORM ACTION="/Centro" METHOD="POST">

<label for="nombre">Nombre del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre"><br/>

<label for="sec">Sector del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="sec"><br/>

<label for="admon">Codigo Administrador del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="admon"><br/>

<INPUT TYPE="submit" value="Inscribir Centro">
</FORM> 
