<h1>Ingresar Familiar</h1>

<FORM ACTION="/familiar" METHOD="POST">
 
<label for="nombre">Nombres del Familiar:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre"><br/>
 
<label for="apellido">Apellidos del Familiar:</label><br/>
<INPUT id = "apellido" TYPE="text" NAME="apellido"><br/>
 
<label for="ocupacion">Ocupacion:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="ocupacion"><br/> 

<label for="salud">Salud:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="salud"><br/>

<label for="salario">Salario:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="salario"><br/>  

<label for="fecha">Fecha Nacimiento:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="fecha"><br/>

<label for="fecha2">Fecha Actual:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="fecha2"><br/>

<label for="ec">Estado Civil:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="ec"><br/>

<label for="centro">Parentesco:</label><br/>
<INPUT id = "centro" TYPE="text" NAME="parentesco"><br/>

<label for="sector">Lugar de Trabajo:</label><br/>
<INPUT id = "sector" TYPE="text" NAME="lugarT"><br/>


<INPUT TYPE="submit" value="Inscribir Familiar">
</FORM> 
