<h1>Situacion Academica</h1>


<FORM ACTION="/situacion_academica" METHOD="POST">

<label for="code">Codigo del Niño:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code"><br/>

<label for="code">Año:</label><br/>
<INPUT id = "code" TYPE="text" NAME="anio"><br/>
 
<label for="nombre">Grado:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="grado"><br/>
 
<label for="apellido">Indice:</label><br/>
<INPUT id = "apellido" TYPE="text" NAME="indice"><br/>
 
<label for="padrinazgo">Observacion:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="observacion"><br/> 

<label for="fecha">Centro:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="centro"><br/>


<INPUT TYPE="submit" value="Crear">
</FORM> 


